
body{
  background: rgb(245,245,245);
  color: white;
  font-size: 25px;
  font-family: Helvetica;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 8px;
}


#banner{
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
  margin-bottom: 24px;
}
#banner h1 {
  font-size: 100px;
  font-family: 'Roboto Slab', serif;
  color: #DA344D;
}
#banner p {
  margin-bottom: 40px;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

#banner a {
  background-color: #DA344D;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

#banner a:hover {
	background-color: #FFA500;
}


#footer{
  padding: 20px;
  background-color:  rgb(100,100,100);
  color: lightgrey;
}

.card-white {
  background-color: white;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding-top: 20px;
}

#presentation{
  margin-top: 42px;
  background-color:  rgb(245,245,245);
  color: rgb(90, 90, 90);
}


.review{
  background-color: #DA344D;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 16px;
  margin: 16px 0px;
  border: 50px solid (240,240,240);
}
.review p {
	margin: 0;
	font-style: italic;
	font-weight: lighter;
}

.card-white img {
  margin-bottom: 20px;
}

.btn-blue {
  color: white;
  background-color: #6772e5;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 15px 20px;
}

.btn-blue:hover {
  background-color: #7795f8;
  color: white;
}